{% extends "template/layout.html.twig" %}

{% block title %}
    {{ parent() }}Gebruiker - Details
{% endblock title %}

{% block contentHeader %}
    <div class="panel-heading">
        <h1>
            Gebruiker details
            <br>
        </h1>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">  
        <form name="gebrtoev" id="gebrtoev" class="form-horizontal"  action="{{ app.root }}/beheerder/updateBeheerder" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">Beheerder overzicht</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="rrnr" class="col-xs-3 control-label overflow">Rijksregisternummer:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="rrnr" id="rrnr" value="{{user.RRnr}}" readonly/>
                        </div>  
                    </div>
                    <div class="form-group">
                        <label for="fnaam" class="col-xs-3 control-label">Familienaam:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="fnaam" id="fnaam" value="{{user.lastName}}" required/>
                        </div>  
                    </div>
                    <div class="form-group">
                        <label for="vnaam" class="col-xs-3 control-label">Voornaam:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="vnaam" id="vnaam" value="{{user.firstName}}" required/>
                        </div>  
                    </div>
                    
                    <div class="form-group">
                        <label for="rrnr" class="col-xs-3 control-label">Emailadres:</label>
                        <div class="col-xs-9">
                            <input type="email" class="form-control" name="email" id="email" value="{{user.email}}" required/>
                        </div>  
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" name="gebrknop" class="btn btn-default" value="Beheerder aanpassen">
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <form name="gebrtoev" class="form-horizontal" action="" method="post">
            <div class="form-group">
                <div class="col-xs-offset-1">
                    <button type="submit" class="btn btn-default no-print" formaction="{{ app.root }}/beheerder/listBeheerders"><span class="glyphicon glyphicon-arrow-left"></span> Terug</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}