{%extends "template/layout.html.twig"%}

{% block stylesheets %}
    {{parent()}}

{% endblock %}

{% block title %}
    {{ parent() }}Categorie aanmaken
{% endblock title %}

{% block contentHeader %}
    <div class="panel-heading">
        <h1>
            Categorie aanmaken
            <br>
        </h1>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <form name="cattoev" id="cattoev" class="form-horizontal" action="{{app.root}}/category/newCategory" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">Voeg een Categorie toe</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="subcat" class="col-xs-3 control-label">Categorie:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="newcat" id="category" placeholder="Nieuwe categorie"/>
                        </div>   
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" name="catknop" class="btn btn-success" value="Categorie toevoegen">
                        </div>
                    </div>
                </div>
            </div>
        </form> 
        <form name="subcattoev" id="subcattoev" class="form-horizontal meerboven-onder" action="{{app.root}}/category/newSubcategory" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">Voeg een subcategorie toe aan een hoofdcategorie</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="category" class="col-xs-3 control-label">Categorie: </label>
                        <div class="col-xs-9">
                            <select class="form-control catbijvraag " name="category" id="category"/>
                            {% if allcategories is empty %}
                                <option value="">Geen categorieën gevonden</option>
                            {% else %}
                                {% for category in allcategories %}  
                                    <option value="{{category.id}}">{{category.catname}}</option>
                                {% endfor %}
                            {% endif %}
                            </select>
                        </div>
                    </div>                    
                    <div class="form-group">
                        <label for="subcat" class="col-xs-3 control-label">Subcategorie</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="subcat" id="subcat" placeholder="Nieuwe subcategorie"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" name="subcatknop" class="btn btn-success" value="Subcategorie toevoegen" {% if allcategories is empty %}Disabled{% endif %}>
                        </div>
                    </div>
                    </form>
                </div>
            {% endblock content %}
