{% extends "template/layout.html.twig" %}

{% block title %}
    {{ parent() }}Vragen aanpassen
{% endblock title%}

{% block contentHeader %}
    <div class="panel-heading">
        <h1>
            Vragen aanpassen
            <br>
        </h1>
    </div>
{% endblock %}

{% block content %}
    {% if allcategories is empty %}
        <ul class="list-group">
            <li class="list-group-item-warning list-group-item">U heeft nog geen categorieën aangemaakt.</li>
        </ul>
    {% else %}
        {% for category in allcategories %}  
            <div class="panel panel-default"> 
                <div class="panel-heading categorie clearfix">   

                    <label class="col-xs-10" for="catid{{category.id}}">{{ category.catname }}</label>                         
                </div>          
                <ul class="list-group">
                    {% for subcategory in category.subcategories %}  
                        {% if subcategory.questions|length > 0 %}
                            <li class="list-group-item subcategorie clearfix">
                                <label for="subcatid{{subcategory.id}}" class=""></label>

                                <div class="col-xs-6">{{subcategory.subcatname}}</div>
                                <div class="col-xs-3">{{subcategory.questions|length}} vragen</div>

                                <div class="col-xs-3">
                                    <a href="{{ app.root }}/question/subcatvragen/{{ subcategory.id }}">Aanpassen vragen</a>
                                </div>
                            </li>
                        {% endif %}  
                    {% endfor %}
                </ul>
            </div>                
        {% endfor %}
    {% endif %}
    <nav>
        <div class="form-group">                         
            <div class="col-xs-10 col-xs-offset-2" role="toolbar">  
                <div class="col-xs-2 col-xs-offset-8">
                    <form name="createquestion" action="" method="post" id="" class="form-horizontal">
                        <button type="submit" class="btn btn-primary" formaction="{{app.root}}/question/create">Maak nieuwe vraag</button>
                    </form>
                </div>
            </div>
    </nav>
{% endblock content %}