{# empty Twig template #}


{#

submit question -> hidden input with id? if id already exists, or "edit" var is set, run editQuestionValidate
if true, delete old question, replace with new with same id, or update, whichever is easiest
if false, b ack to editquestion twig


#}

{% extends "template/layout.html.twig" %}

{% block scripts %}
  {{ parent() }}
  <script src="{{ app.root }}/public/js/lib/tinymce/tinymce.min.js"></script>
  <script src="{{ app.root }}/public/js/addanswers.js"></script>
  <script src="{{ app.root }}/public/js/editQuestions.js"></script>
{% endblock scripts %}

{% block title %}
  {{ parent() }}Nieuwe vraag
{% endblock title %}

{% block contentHeader %}
  <div class="panel-heading">
    <h1>
      Vraag Aanpassen
      <br>
    </h1>
  </div>
{% endblock %}

{#{% block feedback %}

  {% if feedback %}#}
{#  {{dump(feedback)}}
{% if feedback.class == '0' %}
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Waarschuwing!</strong>
    <p>{{feedback.message|raw}}</p>
  </div>
{% elseif session.nopopup is not defined %}
  {% if feedback.class == '1' %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <strong>Success!</strong>
      <p>{{feedback.message|raw}}</p>
      <div class="form-group">
        <label for="popup" class="col-xs-12 control-label text-right">
          <span class=''>Deze popup niet meer tonen</span> 
          <input type="checkbox" name="nopopup" form='toevoegenvraag' id='popup' value='true'>
        </label>
      </div>
    </div>
  {% endif %}
{% endif %}
{% endif %}
{% endblock feedback %}#}

{% block content %}
  <form name="editvraag" id="editvraag" method="post" action="{{ app.root }}/question/addedited" enctype="multipart/form-data" class="form-horizontal">
    {#  Edit Specific Hidden Inputs  #}
    <input type="hidden" value="{{question.id}}" name="questionId">
    {#   NoPopUp   #}
    {% if session.nopopup %}
      <input type="hidden" name="nopopup" id='popup' value='true' checked>
    {% endif %}
    {#   Subcategory   #}
    <div class="panel panel-default">
      <div class="panel-heading">
        Vraag
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="subcat" class="col-xs-3 control-label">Subcategorie:</label>   
          <div class="col-xs-9">
            <select class="form-control catbijvraag " name="subcat">
              {% for category in categories %}
                <optgroup label="{{category.catname|capitalize}}">
                  {% for subcategory in category.subcategories %}
                    <option value="{{ subcategory.id }}"
                            {% if question.subcategory.id == subcategory.id %}
                              selected
                            {% endif %}
                            >{{ subcategory.subcatname|capitalize }}</option>
                  {% endfor %}
                </optgroup>
              {% endfor %}
            </select>
          </div>
        </div>
        {#   Weight     #}
        <div class="form-group">
          <label for="gewicht" class="col-xs-3 control-label">Moeilijkheidsgraad:</label>   
          <div class="col-xs-9">
            <select class="form-control catbijvraag" name="gewicht">
              {% for difficulty in 1..3 %}
                <option value="{{ difficulty }}" {% if question.weight == difficulty %} selected {% endif %}>{{ difficulty }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        {#    Question    #}
        <div class="form-group">
          <label for="vraag" class="col-sm-3 control-label label-padding">Vraag:</label>   
          <div class="col-sm-9">
            <textarea name="vraag" class="form-control allowcode vraaginput" placeholder="Vul hier uw vraag in." required>
              {{question.text|raw}}
            </textarea>
          </div>
        </div>
        {#  Question Images    #}
        <div id="questionImgWrapper">
          {% if question.media is not empty %}
            {% for file in question.media %}
              <div class="form-group">
                <div class="pull-right col-xs-3">
                  <figure class="">
                    <img src="{{ app.root }}/public/images/{{ file }}" class="img-thumbnail thumb" alt="{{file}}" title="{{file}}" id="imagePreview{{loop.index}}"/>
                  </figure>
                </div>
                <div class="pull-left col-xs-9">
                  <label class="col-xs-4 control-label">Afbeelding:</label>
                  <div class="col-xs-8">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                          Vervangen... 
                          <input type="file" name="media[]" class="form-control uploadImage" onchange="PreviewImage('QuestionUpload{{loop.index}}', 'imagePreview{{loop.index}}');" id="QuestionUpload{{loop.index}}"/>
                        </span>
                      </span>
                      <input type="text" class="form-control" readonly>
                    </div>
                  </div>
                </div>
                <div class="pull-left col-xs-9">
                  <div class="col-xs-4 control-label"></div>
                  <div class="col-xs-8" style="padding-top:0.5em">
                    <label class="btn btn-default" for="ImageId{{file}}delete">
                      <input type="checkbox" name="ImageId{{file}}delete" id="ImageId{{file}}delete">
                      <span>Afbeelding verwijderen</span>
                    </label>
                  </div>
                </div>
              </div>   
            {% endfor %}
          {% endif %}
        </div>
        <div class="form-group">
          <label class="control-label col-xs-3">Afbeelding toevoegen:</label>
          <div class="col-xs-9">
            <input type="button" class="btn btn-default" value="Nog een afbeelding toevoegen" id="addQuestionPic">
          </div>
        </div>
      </div>
    </div>
    {# Answers #}
    <div class="panel panel-default">
      <div class="panel-heading">
        Antwoorden
      </div>
      <div class="panel-body">
        <div class="answers">
          {% for answer in question.answers %}
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="form-group">
                  <label for="antwoord[]" class="col-sm-3 control-label label-padding">Antwoord {{answer.id + 1}}:</label>   
                  <div class="col-sm-9">
                    <textarea name="antwoord[]" id="antwoord{{answer.id}}" class="form-control allowcode" placeholder="vul hier een antwoord in.">
                      {{answer.text|raw}}
                    </textarea> 
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 control-label">Afbeelding antwoord {{answer.id + 1}}:</label>
                  <div class="col-xs-6">
                    <div class="input-group">
                      <span class="input-group-btn">
                        <span class="btn btn-default btn-file">
                          Bladeren... 
                          <input type="file" name="answerMedia[]" class="form-control" />
                        </span>
                      </span>
                      <input type="text" class="form-control" readonly>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  {% if answer.media is not empty %}
                    <img src="{{ app.root }}/public/images/{{ answer.media }}" alt="{{answer.media}}" title="{{answer.media}}" class="img-thumbnail" />
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
        {#   Add extra answer, triggers addanswer.js   #}
        <div class="form-group">
          <label for="AddAnswer" class="col-xs-3 control-label">
            Extra antwoord toevoegen:
          </label>
          <div class="col-xs-3">
            <a href="#" id="AddAnswer" class="btn btn-default">Antwoord Toevoegen</a>
          </div>
        </div>
        {# Select correct answer #}
        <div class="form-group">
          <label class="col-xs-3 control-label" for="correctant">
            Correct antwoord:
          </label>
          <div class="col-xs-9">
            <select class="form-control catbijvraag" id="correctant" name="correctant">
              <option value="0">Antwoord 1</option>
              <option value="1">Antwoord 2</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    {#   Submit   #}
    <div class="col-xs-3 col-xs-offset-5">
      <input type="submit" class="btn btn-success" name="vrtoev" value="Vraag bevestigen" />
    </div>
  </form>
</div>
{% endblock content %}



