{% extends "template/layout.html.twig" %}

{% block stylesheets %}
  {{parent()}}
{% endblock %}

{% block title %}
  {{ parent() }}Scores ingeven
{% endblock %}

{% block contentHeader %}
  <div class="panel-heading no-print">
    <h1>
      Scores ingeven
      <br>
    </h1>
  </div>
{% endblock %}   

{%block content%}

  <div class="container-fluid">  
    <form class="form-horizontal">
      <div class="panel panel-default">
        <div class="panel-heading">Testsessie: {{ usersession[0].testsession.test.testname }} van {{ usersession[0].testsession.date.date|date('d/m/Y') }}</div>
        <div class="panel-body">     
          <div class="form-group">
            <label for="score" class="col-xs-3 control-label">Naam:</label>
            <div class="col-xs-8">
              <span class="print-only form-control">{{usersession[0].user.firstname}} {{usersession[0].user.lastname}}</span>
              <input type="text" class="form-control no-print" name="name" id="name" placeholder="{{usersession[0].user.firstname}} {{usersession[0].user.lastname}}" disabled/>
            </div>
          </div>    
          <div class="form-group">
            <label for="score" class="col-xs-3 control-label">Score:</label>
            <div class="col-xs-8">
              <span class="print-only form-control">{{usersession[0].score}} / {{ usersession[0].testsession.test.testmaxscore }}</span>
              <input type="text" class="form-control no-print" name="score" id="score" placeholder="{{usersession[0].score}} / {{ usersession[0].testsession.test.testmaxscore }}" disabled/>
            </div>
          </div>     
          <div class="form-group">
            <label for="percentage" class="col-xs-3 control-label">Percentage:</label>
            <div class="col-xs-8">
              <span class="print-only form-control">{{usersession[0].percentage}}&#37; (min: {{usersession[0].testsession.test.testpasspercentage}}&#37;)</span>
              <input type="text" class="form-control no-print" name="percentage" id="percentage" placeholder="{{usersession[0].percentage}}&#37; (min: {{usersession[0].testsession.test.testpasspercentage}}&#37;)" disabled/>
            </div>
          </div>  
          <div class="form-group">
            <label for="passes" class="col-xs-3 control-label">Geslaagd:</label>
            <div class="col-xs-8">    
              <span class="print-only form-control">{% if usersession[0].passed %}Ja{% else %}Nee{% endif %}</span>
              <input type="text" class="form-control no-print" name="passes" id="passes" placeholder="{% if usersession[0].passed %}Ja{% else %}Nee{% endif %}" disabled/>
            </div>
            {#<div class="col-xs-3">
              {% if not usersession[0].passed %}
                <button type="submit" class=" btn btn-success no-print" formaction="{{ app.root }}/scores/delibereer/{{usersession[0].testsession.id}}/{{usersession[0].user.RRnr}}" >Delibereer</button>
              {% else %}
                <button type="submit" class=" btn btn-default no-print" disabled formaction="{{ app.root }}/scores/delibereer/{{usersession[0].testsession.id}}/{{usersession[0].user.RRnr}}" >Delibereer</button>
              {% endif %}
            </div>#}
          </div> 
        </div>
      </div> 
    </form>
    <div class="panel panel-default">
      <form role="form" method="post" class="form-horizontal" action="{{ app.root }}/scores/manualentry">  
        <div class="panel-heading">Test details</div>            
        <div class="panel-body">
          <input type="hidden" name="sessionid" value="{{usersession[0].testsession.id}}">
          <input type="hidden" name="userid" value="{{usersession[0].user.RRnr}}">
          <input type="hidden" name="testid" value="{{ usersession[0].testsession.test.testid }}">

          {% for category in subcats %}
            <div class="form-group no-print">
              <label class="control-label col-xs-3">{{category.Subcatname|capitalize}}</label>
              <div class="col-xs-3 input-group">
                <input type="text" name="catid{{category.id}}score" class="form-control" value="{{category.score}}">
                <span class="input-group-addon">/ {{category.maxScore}}</span>
              </div>
            </div>                 
          {% endfor %}  
        </div>
        <div class="panel-footer">
          <input type="submit" value="Scores ingeven" name="submit" class="btn btn-success col-xs-offset-5">
        </div>
      </form>
    </div> 
    {% block terugknop %}
      <div class="form-group no-print">
        <div class="col-xs-offset-1">
          <input type="hidden" name="selectsession" value="{{usersession[0].testsession.id}}">
          <button type="submit" class="btn btn-default" formaction="{{ app.root }}/scores/showsessiondetail/"><span class="glyphicon glyphicon-arrow-left"></span> Terug</button>
        </div>
      </div>
    {% endblock %}
  </div>

{% endblock %}
