{% extends "template/layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}
{% endblock %}

{% block title %}
    {{ parent() }}Rapport scores
{% endblock %}

{% block contentHeader %}
<div class="panel-heading">
    <h1>
        Scores rapport
        <br>
    </h1>
</div>
{% endblock %}   

{%block content%}

<div class="container-fluid">  
    <form name="gebrtoev" class="form-horizontal" action="" method="post">
        <div class="panel panel-default">
            <div class="panel-heading">Gebruiker overzicht</div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="fnaam" class="col-md-3 control-label">Familienaam:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="fnaam" id="fnaam" placeholder="{{ usersession[0].user.lastname }}" disabled/>
                    </div>
                </div>                    
                <div class="form-group">
                    <label for="vnaam" class="col-md-3 control-label">Voornaam:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="vnaam" id="vnaam" placeholder="{{ usersession[0].user.firstname }}" disabled/>
                    </div>
                </div>     
                <div class="form-group">
                    <label for="rrnr" class="col-md-3 control-label">Rijksregisternummer:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="rrnr" id="rrnr" placeholder="{{usersession[0].user.RRnr}}" disabled/>
                    </div>
                </div> 
                <div class="form-group">
                    <label for="score" class="col-md-3 control-label">Score:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="score" id="score" placeholder="{{usersession[0].score}}" disabled/>
                    </div>
                </div>     
                <div class="form-group">
                    <label for="percentage" class="col-md-3 control-label">Percentage:</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="percentage" id="percentage" placeholder="{{usersession[0].percentage}} (min: {{usersession[0].testsession.test.testpasspercentage}})" disabled/>
                    </div>
                </div>  
                <div class="form-group">
                    <label for="passes" class="col-md-3 control-label">Geslaagd:</label>
                    <div class="col-md-7">                        
                        <input type="text" class="form-control" name="passes" id="passes" placeholder="{% if usersession[0].passed %}Ja{% else %}Nee{% endif %}" disabled/>
                    </div>
                    <div class="col-md-2">
                        {% if not usersession[0].passed %}
                            <button type="submit" class="col-md-12 btn btn-default no-print" formaction="{{ app.root }}/scores/delibereer/{{usersession[0].testsession.id}}/{{usersession[0].user.RRnr}}" >Delibereer</button>
                        {% else %}
                            <button type="submit" class="col-md-12 btn btn-default no-print" disabled formaction="{{ app.root }}/scores/delibereer/{{usersession[0].testsession.id}}/{{usersession[0].user.RRnr}}" >Delibereer</button>
                        {% endif %}
                    </div>
                </div> 
            </div>
        </div> 
        
        
        <div class="panel panel-default">
            <div class="panel-heading">Test details</div>            
            <div class="panel-body">
                {% for category in subcats %}
                <div class="form-group">
                    <h4 class="col-md-offset-1">{{category.Subcatname}}<small class="col-md-offset-1">{{category.percentage}} (min: {{category.passPercentage}})</small></h4>
                </div>                 
                
                 {% for question in category.questions %}
                    <div class="panel panel-default">
                      <div class="panel-heading "> &nbsp;
                        {% if question.correct %}
                            <span class="col-md-1 glyphicon glyphicon-ok"></span>
                        {% else %}
                            <span class="col-md-1 glyphicon glyphicon-remove"></span>
                        {% endif %}
                        <div class="col-md-5 ">Vraag {{loop.index}}</div>
                        <div class="col-md-2 col-md-offset-3 "><small>Gewicht: {{question.weight}}</small></div>
                      </div>
                            
                      <div class="panel-body" style="font-weight: normal">     
                      <div class="col-md-9">
                        <p>{{ question.text|raw }}</p>
                      </div>
                      <div class="col-md-3">
                        {% if question.media is not empty %}
                          {% for file in question.media %}
                            <figure class="">
                              <img src="{{ app.root }}/public/images/{{ file }}" class="img-thumbnail" alt="{{file}}" title="{{file}}"/>
                            </figure>
                          {% endfor %}
                        {% endif %}
                      </div>
                    </div>
                    </div>
                {% endfor %}  
            {% endfor %}  
            </div>
        </div>        
    </form>
</div>

{% endblock %}
