{% extends "template/layout.html.twig" %}

{% block title %}
    {{ parent() }}Rapport scores - Select session
{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <h1 class="headerofpage">Overzicht sessies</h1>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h3>
                    {{ test.testname }}
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-4">
                <table class="table">
                    <thead>
                        <tr class="tableheaderscores">
                            <th class="singleheader">Datum sessie</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for testsession in testsessions %}
                        <tr>
                            <td class="singlecolumn"><a href="{{ app.root }}/scores/showsessiondetail/{{testsession.id}}">{{ testsession.date.date|date('d/m/Y') }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}