{% extends "template/layout.html.twig" %}

{% block scripts %}
  {{ parent() }}
  <script src="{{ app.root }}/public/js/lib/jquery-1.11.0.min.js"></script>
  <script src="{{ app.root }}/public/js/answeredCounter.js"></script>
{% endblock scripts %}

{% block title %}
  {{ parent() }}Test afleggen
{% endblock title %}

{% block contentHeader %}
  <div class="panel-heading">
    <h1>
      {{ test.testname }} 
      <br>
      <small>Per vraag is maar 1 correct antwoord mogelijk</small>
    </h1>
    <blockquote class="">
      <p class="">Categorie: {{ catname|capitalize }} </p>
      <footer class="" >Nog te beantwoorden vragen: <span id="questioncount" class="badge">{{ test.testquestioncount }}</span></footer>
      <footer class="">Maximum duurtijd: <span class="badge">{{ test.testmaxduration }}</span> minuten</footer>
    </blockquote>
  </div>
{% endblock %}
{% block content %}
  <div class="{% block class %}testafleggenpag {% endblock class %}">
    <form name="" action={% block form %}"{{ app.root }}/test/process/" {% endblock form %} method="post" role="form" class="form-horizontal">
      {% for question in test.questions %}

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Vraag {{loop.index}}</div>
          <div class="panel-body">
            <p>{{ question.text|raw }}</p>
            {% if question.media is not empty %}
              <div class="row">
                {% for file in question.media %}
                  <figure class="col-xs-6 col-md-3">
                    <img src="{{ app.root }}/public/images/{{ file }}" class="img-thumbnail" alt="{{file}}" title="{{file}}"/>
                  </figure>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <!-- List group -->
          <ul class="list-group">
            {% for answer in question.answers %}
              <li class="list-group-item">
                <input type="radio" name="answer[{{ question.id }}]" value="{{ answer.id }}" id="question{{question.id}}answer{{answer.id}}" style=""/>
                <div class="row">
                  <div class="col-md-8">
                  <h4 class="list-group-item-heading">Antwoord {{loop.index}}</h4>
                  <p class="list-group-item-text">{{ answer.text|raw }}</p>
                  </div>
                  <div class="col-md-4">
                    
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      <div class="input-group voltooid">
        <input class="form-control" type="submit" value="Test voltooien">
      </div>
    </form>
  </div>
{% endblock content %}
