{% extends "template/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock stylesheets %}

{% block title %}
    {{ parent() }}Test aanmaken
{% endblock title %}

{% block contentHeader %}
<div class="panel-heading">
    <h1>
        Test aanmaken
        <br>
    </h1>
</div>
{% endblock %}

{% block content %}

<div class="container-fluid">
        {% if testname is not defined %}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
                <span class="sr-only">0% Compleet</span>
            </div>
        </div>

        <form name="testcreation" class="form-horizontal meerboven-onder" method="POST" action="{{ app.root }}/testadmin/testcreation_step2">
            <div class="panel panel-default">
                <div class="panel-heading">Test aanmaken: stap 1</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="testname" class="col-md-3 control-label">Naam van test:</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" title="hallo" name="testname" id="testname" placeholder="Vul hier de naam in van de test." autofocus required/>
                        </div>  
                    </div>
                    <div class="form-group">
                        <label for="testcatselect" class="col-md-3 control-label">Categorie van test:</label>
                        <div class="col-md-9">
                            <select class="form-control" name="testcatselect">
                                <option value="0" >Selecteer een categorie</option>
                                {% for category in allCat %}
                                <option value="{{ category.id }}">{{ category.catname }}</option>
                                {% endfor %}
                            </select>
                        </div>  
                    </div>    
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">                            
                            <input type="submit" name="catknop" class="btn btn-default" value="Naar stap 2">
                        </div>
                    </div>  
                </div>
            </div>
        </form>
        {% elseif testduration is not defined %}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 34%;">
                <span class="sr-only">33% Compleet</span>
            </div>
        </div>

        <form name="testcreation2" class="form-horizontal meerboven-onder" method="POST" action="{{ app.root }}/testadmin/testcreation_step3" id="testcreation2">
            <div class="panel panel-default">
                <div class="panel-heading">Test aanmaken: stap 2</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="testduration" class="col-md-3 control-label">Duur van test:</label>
                        <div class="col-md-9">                            
                            <input type="text" class="form-control" name="testduration" id="testduration" placeholder="Tijdsduur in minuten" required/>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-3 control-label">Vragen:</label>
                        <div class="col-md-9"> 
                        {% for question in allQuest %}
                                <div class="categorie">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="checkbox" class="control-label" name="question[]" value='{{question.id}}' />
                                        </span>
                                        <div class="form-control vraagsel">
                                            <div class="row">
                                                <div class="col-xs-10 vraagsubcat">{{question.subcategory.subcatname}}</div>
                                                <div class="col-xs-2 vraaggewicht">Gewicht: {{question.weight}}</div>
                                            </div>                                        
                                            <div class="vraagzelf">{{question.text|raw}}</div>
                                            {% if question.media is not empty %}
                                                {% for file in question.media %}
                                                    <div class="imggroepbijvraag">
                                                        <img src="{{ app.root }}/public/images/{{ file }}" />
                                                    </div>
                                                {% endfor %}
                                            {% endif %}                                        
                                        </div>
                                    </div>
                                </div>
                        {% endfor %}
                            </div>
                        </div>                           
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">                                
                                <input type="reset" name="annknop" class="btn btn-default" value="Reset"/>
                                <input type="submit" name="catknop" class="btn btn-default" value="Naar stap 3"/>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        {% elseif passpercentage is not defined %}
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100" style="width: 67%;">
                    <span class="sr-only">66% Compleet</span>
                </div>
            </div>
            <h4>Test aanmaken stap 3</h4>

            <div class="lighter gebrcollectie">
                <div class="input-group gebraddon">
                    <div class="input-group-addon">{{testname}}:</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon widthtestinput">Categorie: </span>
                    <div class="form-control frmcontrolwidth-testinvoeg">{{cat.catname}}</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon widthtestinput">Duurtijd: </span>
                    <div class="form-control frmcontrolwidth-testinvoeg">{{testduration}}</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon widthtestinput">Aantal vragen: </span>
                    <div class="form-control frmcontrolwidth-testinvoeg">{{questioncount}}</div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon widthtestinput">Gewicht vragen: </span>
                    <div class="form-control frmcontrolwidth-testinvoeg">{{questionweightcount}}</div>
                </div>
                <div class="input-group gebraddon">
                    <div class="input-group-addon">Subcategorie&euml;n: </div>
                </div>
                <div class="input-group submargin">
                    <span class="input-group-addon widthtestinput centeren">Naam: </span>
                    <span class="input-group-addon widthtestinput centeren">Aantal vragen: </span>
                    <span class="input-group-addon widthtestinput centeren">Gewicht vragen: </span>
                </div>
                {% for key, subcat in subcatlist %}
                <div class="input-group submargin">
                    <div class="form-control frmcontrolwidth-testsubcatinvoeg">{{key}}</div>
                    <div class="form-control frmcontrolwidth-testsubcatinvoeg">{{subcat.count}}</div>
                    <div class="form-control frmcontrolwidth-testsubcatinvoeg">{{subcat.weight}}</div>
                </div>
                {% endfor %}
            </div>

            <form name="testcreation3" class="form-horizontal meerboven-onder" method="POST" action="{{ app.root }}/testadmin/testCreation_TestUpload">
                <div class="input-group">
                    <label for="testpasspercentage" class="input-group-addon widthslaaginput">Slaagpercentage voor de volledige test:</label>
                    <input type="text" class="form-control  frmcontrolwidth-slaaginvoeg" name="testpasspercentage" id="testpasspercentage" value="60" pattern="^[0-9]+$" maxlength='3' required/>
                </div>

                {% for key, subcat in subcatlist %}

                <div class="input-group">
                    <label for="subcatpasspercentage[]" class="input-group-addon widthslaaginput">Slaagpercentage voor "{{ key }}":</label>
                    <input type="text" class="form-control  frmcontrolwidth-slaaginvoeg" name='subcatpasspercentage[{{ key }}]' id="subcatpasspercentage" value="50" pattern="^[0-9]+$" maxlength='3' required/>
                </div>

                {% endfor %}


                <div class="input-group">
                    <input type="submit" name="catknop" class="form-control marginonbutton" >
                </div>
            </form>
        {% else %}
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="sr-only">100% Compleet</span>
                </div>
            </div>
            <h4>Test aanmaken voltooid.</h4>
            <p>Er is een nieuwe test aangemaakt. Gebruik het linkermenu om verder te werken. </p>
            <h4>Dummytest afleggen</h4>
            <form name="testcreation3" class="form-horizontal meerboven-onder" method="POST" action="{{ app.root }}/test/rundummy/{{ testid }}"> 
                <p>Klik hier om een dummytest af te leggen:</p>
                <input type="submit" name="catknop" value="Test afleggen" class="form-control marginonbutton" >
            </form>
        {% endif %}
        </div>

{% endblock content %}
