{% extends "template/layout.html.twig" %}

{% block title %}
    {{ parent() }}Dummytest afleggen
{% endblock title %}

{% block content %}
<div class="testafleggenpag maincontainer">
    <h1 class="headerofpage">{{ test.testname }}</h1>
    <div class="testinfotop clearFix">
        <div>Categorie: {{ catname }} </div>
        <div>Totaal aantal vragen: {{ test.testquestioncount }}</div>
        <div>Maximum duurtijd: {{ test.testmaxduration }} minuten</div>
    </div>
    <form name="" action="{{ app.root }}/testadmin/testlist/" method="post">
        {% for question in test.questions %}
            <div class="vraaggroep">
                {# Question #}
                <div class="vraag row">
                    <div class="col-lg-12">
                        <div class="input-group">
                            <div class="input-group-addon">
                                VRAAG {{ loop.index }}: 
                            </div>
                            <div class="form-control">
                                {{ question.text|raw }}
                                {% if question.media is not empty %}
                                    {% for file in question.media %}
                                        <div class="imggroepbijvraag">
                                            <img src="../../public/images/{{ file }}" />
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {# Answers #}
                <div class="antwoorden row">
                    {% for answer in question.answers %}
                        <div class="col-lg-11 antwoordmetradio">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input type="radio" name="answer[{{ question.id }}]" value="{{ answer.id }}" />
                                </span>
                                <div class="antwoord form-control">{{ answer.text|raw }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="input-group voltooid">
            <input class="form-control" type="submit" value="Test voltooien">
        </div>
    </form>
</div>
{% endblock content %}
