{%extends "template/layout.html.twig"%}

{%block stylesheets%}
    {{parent()}}

{%endblock%}

{%block title%}
    {{parent()}}Home
{%endblock%}


{%block content%}
<div class="container-fluid ">
    <h1 class="headerofpage">Testsessie plannen</h1>
</div>
<div class="">
    <h3>Stap1</h4>
    <div class="resultaat  ">
        {% for upload in allUploads %}   
        <div class="input-group">
            <span class="input-group-addon">
                <input type="checkbox" name="antwoord1" />
            </span>                                             
            <div class="col-lg-4 centeren">{{upload.nummer}}</div>
            <div class="col-lg-4 centeren">{{upload.code|raw}}</div>
        </div>
        {% endfor %}
    </div>

    <form name="testsessiesel" class="form-horizontal meerboven-onder" method="POST" action="/mctesting/tests/testlinkadd">
        <div class="form-group">            
            <label for="testsessieselect" class="col-lg-3 control-label">Selecteer een test</label>
            <div class="col-lg-5">                
                <select class="form-control" name="testsetselect">
                    <option value="0" >Selecteer een test</option>
                    {% for test in allTest %}
                        <option value="{{test.testid}}">{{test.testnaam}} - vragen: {{test.testaantalvragen}}</option>
                    {% endfor %}
                </select>
                <p style="color:red;">{{errormsg}}</p>  
            </div>
        </div>
        <div class="form-group">
            <label for="testsessieselect" class="col-lg-3 control-label">Datum van de testsessie</label>
            <div class="col-lg-5">
                <input type="date" class="form-control" name="testdatum" id="testdatum" placeholder="Vul hier de datum in voor de dag van de test." required/>
            </div>
        </div>
        <div class="form-group">
            <label for="testsessieselect" class="col-lg-3 control-label">Wachtwoord van de testsessie</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="testwachtwoord" id="testwachtwoord" placeholder="Vul hier het wachtwoord in voor de testafleggers." required/>
            </div>
        </div>

        {% for user in allUsers %} 
            <div class="input-group ietssmaller">
                <span class="input-group-addon">
                    <input type="checkbox" name='user[]' value='{{user.rrnr}}'/>
                </span>
                <div class=" form-control">

                    <div class="vnaamaantest">{{user.lastname}}</div>
                    <div class="vnaamaantest">{{user.firstname}}</div>

                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div class="ietssmaller">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4 centeren">
                    <input type="submit" name="catknop" class="form-control" >
                </div>
            </div>
        </div>
    </form>
</div>
    

{%endblock%}
