{% extends "template/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock stylesheets %}

{% block title %}
    {{ parent() }}Test aanmaken
{% endblock title %}

{% block contentHeader %}
    <div class="panel-heading">
        <h1>
            Test aanmaken
            <br>
        </h1>
    </div>
{% endblock %}

{% block content %}

    <div class="container-fluid">        
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
                <span>stap 1 van 4</span>
            </div>
        </div>
        <form name="testcreation" id="testcreation" class="form-horizontal" method="POST" action="{{ app.root }}/testadmin/testcreation_step2">
            <div class="form-group">
                <label for="testname" class="col-xs-3 control-label">Naam van test:</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" title="test naam" name="testname" id="testname" placeholder="Vul hier de naam in van de test." autofocus required value="{% if testcreation.test.testname is defined %}{{testcreation.test.testname}}{% endif %}"/>  
                </div>  
            </div>
            <div class="form-group">
                <label for="testcatselect" class="col-xs-3 control-label">Categorie van test:</label>
                <div class="col-xs-9">
                    <select class="form-control" name="testcatselect">
                        <option value="0" >Selecteer een categorie</option>
                        {% for category in allCat %}
                            <option value="{{ category.id }}" {% if (testcreation.catid is defined) and (testcreation.catid == category.id) %}selected{% endif %}>{{ category.catname }}</option>
                        {% endfor %}
                    </select>
                </div>  
            </div>    
            <div class="form-group">
                <div class="col-xs-2 col-xs-offset-5">                            
                    <input type="submit" name="catknop" class="btn btn-success" value="Naar stap 2">
                </div>
            </div>
        </form> 
    </div> 

{% endblock content %}
