{% extends "template/layout.html.twig" %}

{% block scripts %}
  {{ parent() }}
  <script src="{{ app.root }}/public/js/lib/jquery-1.11.0.min.js"></script>
  <script src="{{ app.root }}/public/js/answeredCounter.js"></script>
{% endblock scripts %}

{% block title %}
  {{ parent() }}Test afleggen
{% endblock title %}

{% block contentHeader %}
  <div class="panel-heading">
    <h1>
      {{ test.testname }} 
      <br>
      <small>Per vraag is maar 1 correct antwoord mogelijk</small>
    </h1>
    <blockquote class="">
      <p class="">Categorie: {{ catname|capitalize }} </p>
      <footer class="" >Nog te beantwoorden vragen: <span id="questioncount" class="badge questioncount">{{ test.testquestioncount }}</span></footer>
      <footer class="">Maximum duurtijd: <span class="badge">{{ test.testmaxduration }}</span> minuten</footer>
    </blockquote>
  </div>
{% endblock %}
{% block content %}
  <div class="{% block class %}testafleggenpag {% endblock class %}">
    <form name="" action={% block form %}"{{ app.root }}/test/process/" {% endblock form %} method="post" role="form" class="form-horizontal">
      {% for question in test.questions %}
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Vraag {{loop.index}}</div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-9">
                <p>
                  <span class="glyphicon glyphicon-question-sign"></span>
                  {{ question.text|raw }}
                </p>
              </div>
              <div class="col-md-3">
                {% if question.media is not empty %}
                  {% for file in question.media %}
                    <figure class=>
                      <img src="{{ app.root }}/public/images/{{ file }}" class="img-thumbnail" alt="{{file}}" title="{{file}}"/>
                    </figure>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
          <!-- List group -->
          <ul class="list-group">
            {% for answer in question.answers %}
              <li class="list-group-item answer">
                <div class="row">
                  <input type="radio" name="answer[{{ question.id }}]" value="{{ answer.id }}" id="question{{question.id}}answer{{answer.id}}" style=""/>
                  <label for="question{{question.id}}answer{{answer.id}}" class=""></label>
                  <div class="col-md-9">
                    <h4>
                      <small>Antwoord {{loop.index}}</small>
                      <br>
                      {{ answer.text|raw }}
                    </h4>
                  </div>
                  <div class="col-md-3 ">
                    {% if answer.media is not empty %}
                      <img src="{{ app.root }}/public/images/{{ answer.media }}" alt="{{answer.media}}" title="{{answer.media}}" class="img-thumbnail" />
                    {% endif %}
                  </div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
      <div class="row">
        <div class="col-md-5 col-md-offset-4"><h4>Nog te beantwoorden vragen: <span id="" class="badge questioncount">{{ test.testquestioncount }}</span></h4></div>
      </div>
      <div class="row">
        <input class="btn btn-default btn-lg col-md-2 col-md-offset-5" type="submit" value="Test voltooien">
      </div>
    </form>
  </div>
{% endblock content %}
