{%extends "template/layout.html.twig"%}

{%block stylesheets%}
    {{parent()}}

{%endblock%}

{%block title%}
    {{parent()}}Home
{%endblock%}


{%block content%}
<div class="container-fluid maincontainer">
    <h1 class="headerpage">Welkom op de testing website van de VDAB</h1>
</div>
<div class="maincontainer">
    <h1 class="headertestupdates centeren">Test aanmaken</h1>
    <!-- selecteer een cat -->
    <!-- selecteer een testsessie -->
    <!-- voeg gebruikers toe aan de testsessie -->

    <!-- <form name="catsel" class="form-horizontal meerboven-onder">
         <div class="form-group">
             <div class="col-lg-1"></div>
             <label for="catselect" class="col-lg-2 control-label">Bijhorende categorie</label>
             <div class="col-lg-5">
                 <select class="form-control" name="catselect">
                     <option value="">Selecteer een categorie</option>
                     <option value="01">IT</option>
                     <option value="02">schilderen</option>
                     <option value="03">horeca</option>
                 </select>
             </div>
         </div>
         <div class="form-group">
             <div class="col-lg-3">
             </div>
             <div class="col-lg-4 centeren">
                 <input type="submit" name="catknop" class="form-control" >
             </div>
         </div>
     </form>
    -->






    <form name="testsessiesel" class="form-horizontal meerboven-onder" method="POST" action="/mctesting/tests/testlinkadd">
        <div class="form-group">
            <label for="testsessieselect" class="col-lg-3 control-label">Naam van test</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" name="testdatum" id="testdatum" placeholder="Vul hier de naam in voor de dag van de test." required/>
            </div>
                </div>
             <div class="form-group">
                 <label for="testsessieselect" class="col-lg-3 control-label">Categorie van test</label>
            <div class="col-lg-5">                
                <select class="form-control" name="testsetselect">
                    <option value="0" >Selecteer een categorie</option>
                            {% for category in allCategory %}
                    <option value="{{category.categoryName}}">{{test.testnaam}} - {{test.testaantalvragen}} vragen</option>
                            {% endfor %}
                </select>
                <p style="color:red;">{{errormsg}}</p>  
            </div>
        </div>
   <!-- </form> -->

<!--
    <h2 class="centeren">koppelen:</h2>
    <form name="gebraantestsessie" class="form-horizontal meerboven-onder">
        <div class="form-group">

            <label for="testsessienaam" class="col-lg-3 control-label">Sessie:</label>
            <div class="col-lg-5">
                <input type="text" name="testsessienaam" class="form-control" value="PHP intake" disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="testsessiedatum" class="col-lg-3 control-label">Datum:</label>
            <div class="col-lg-5">
                <input type="text" name="testsessiedatum" class="form-control" value="21/08/2012" disabled />
            </div>
        </div>
-->
        <!-- lijst gebruikers -->
        <!-- checkbox/voornaam/familienaam -->


        <!-- TRY TWO -->

        <div class="form-group">
            <div class="ietssmaller">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4 centeren">
                    <input type="submit" name="catknop" class="form-control" >
                </div>
            </div>
        </div>
    </form>
</div>

{%endblock%}
