{% extends "template/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

{% endblock stylesheets %}

{% block title %}
    {{ parent() }}Tests
{% endblock title%}


{% block content %}
<div class="container-fluid ">
    <h1 class="headerofpage">Testlijst</h1>
</div>
<div class="container-fluid ">
    <form name="testtebewerken" action="{{app.root}}/testadmin/changeuserstatus" method="post" id="testForm">


        <div class="headergebroverzicht">
            <!-- header boven de gebr info-->
            <div class="row onderheadertebewerken form-control">
                <div class="col-md-4">Test naam</div>
                <div class="col-md-2">maxduur</div>
                <div class="col-md-2">aantal vragen</div>
                <div class="col-md-2"></div>
                <div class="col-md-2"></div>
            </div>
        </div>


        {% if tests is empty %}
            <p>U heeft nog geen testen  aangemaakt.</p>
        {% else %}
            {% for test in tests %}   
            <div class="input-group">                    
                <span class="input-group-addon">
                    <input type="checkbox" name="testCheckbox[]" value="{{test.TestId}}" />
                </span>

                <div class="row gebruiktebewerken form-control">

                    <div class="col-md-4">{{test.TestName}}</div>
                    <div class="col-md-2">{{test.TestMaxDuration}}</div>
                    <div class="col-md-2">{{test.TestQuestionCount}}</div>
                    {% if test.status == 1 %}
                            <div class="col-md-2">Actief</div>
                        {% else %}
                            <div class="col-md-2">Inactief</div>
                        {% endif %}
                    <div class="col-md-2">
                        <a href="{{ app.root }}/test/rundummy/{{ test.TestId }}">dummytest</a>
                    </div>

                </div>
            </div>
            {% endfor %}
        {% endif %}
        

        <!-- DE BEWERKINGSKNOPEN -->
        <div>
            <nav>
                <div class="collapse navbar-collapse">
                    <!-- knopen links -->
                    <p class="navbar-text">Selectie: </p>
                    <ul class="nav navbar-nav">
                        <li><button type="submit" class="btn btn-default" formaction="{{app.root}}/testadmin/inactive">Maak Inactief</button></li>
                        <li><button type="submit" class="btn btn-default" formaction="{{app.root}}/testadmin/active">Maak Actief</button></li>
                    </ul>
                    <!-- knopen rechts -->
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{app.root}}/testadmin/testcreation/">Maak nieuwe test</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </form>
</div>



{% endblock content %}
