{% extends "template/layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}

{% endblock stylesheets %}

{% block title %}
    {{ parent() }}Home
{% endblock title %}


{% block content %}
    <div class="container-fluid ">
        <h1 class="headerofpage">Beheer gebruikers</h1>
    </div>
    <div class="container-fluid ">
        <form name="testtebewerken" action="{{app.root}}/usermanagement/changeuserstatus" method="post" id="userForm">


            <div class="headergebroverzicht">
                <!-- header boven de gebr info-->
                <div class="row onderheadertebewerken form-control">
                    <div class="col-xs-3">Familienaam</div>
                    <div class="col-xs-3">Voornaam</div>
                    <div class="col-xs-3">Rijksreg Nr</div>
                    <div class="col-xs-2">Status</div>
                </div>
            </div>


            <!-- gebr VOORBEELD IN OVERZICHT -->
            {% for user in allUsers %}   
                <div class="input-group volle-breedte">
                    <span class="input-group-addon addon-finetune">
                        <input type="checkbox" name="userCheckbox[]" value="{{user.rrnr}}" />
                    </span>
                    <div class="row gebruiktebewerken form-control volle-breedte">

                        <div class="col-xs-3">{{user.lastname}}</div>
                        <div class="col-xs-3">{{user.firstname}}</div>
                        <div class="col-xs-3">{{user.rrnr}}</div>
                        {% if user.status == 1 %}
                            <div class="col-xs-2">Actief</div>
                        {% else %}
                            <div class="col-xs-2">Inactief</div>
                        {% endif %}
                        <div class="col-xs-1">
                            <a href="{{ app.root }}">details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}


            <!-- DE BEWERKINGSKNOPEN -->
                <nav class="row pull-down">
                        <!-- knopen links -->
                        <p class="col-xs-1 navbar-text">Selectie: </p>
                        <div class="col-xs-10">
                          <ul class="row nav navbar-nav pull-right">
                              <li class="col-xs-3"><button type="submit" class="btn btn-default" formaction="{{app.root}}/usermanagement/inactive">Maak Inactief</button></li>
                              <li class="col-xs-3"><button type="submit" class="btn btn-default" formaction="{{app.root}}/usermanagement/active">Maak Actief</button></li>
                              <li class="col-xs-3"><button type="submit" class="btn btn-default" formaction="{{app.root}}/usermanagement/delete">Verwijder</button></li>
                              <li class="col-xs-3"><button type="submit" class="btn btn-primary" formaction="{{app.root}}/usermanagement/newuserform">Maak nieuwe gebruiker</button></li>
                          </ul>
                        </div>
                </nav>
        </form>
    </div>

{% endblock content %}
